<h1>General</h1>

<ul>
  <li>
    Screenshot count: <%= @all_count %>
  </li>
  <li>
    Tagged screenshot count: <%= @tagged_count %> (clear: <%= @tagged_clear_count %>)
  </li>
  <li>
    Tagged screenshot with hero count: <%= @tagged_hero_count %> (clear: <%= @tagged_hero_clear_count %>)
  </li>
</ul>

<h1>Number of clear tagged screenshots per hero</h1>

<ul>
  <%= for [tag, count] <- @stats do %>
    <li>
      <%= tag %>: <%= count %>
    </li>
  <% end %>
</ul>
