<h1>Tagged: <%= @tagged_count %>, Remaining: <%= @remaining_count %></h1>

<%= form_for Overtwitch.Screenshot.changeset(%Overtwitch.Screenshot{}), votes_path(@conn, :update, @screenshot.id), [method: "put"], fn f -> %>
  <label>Tag:</label>
  <%= select(f, :tag, @all_heroes, selected: @default_tag) %> (Guess: <%= @guessed_tag %>, Probability: <%= @probability %>)

  <br/>

  <label>Clear:</label>
  <br/>
  <input type="radio" name="screenshot[is_clear]" value="yes" checked>Yes (there's no shit on top of potrait and ability UI)</input>
  <br/>
  <input type="radio" name="screenshot[is_clear]" value="no">No</input>
  <br/>

  <br/>

  <%= submit "Submit" %>
<% end %>

<img src="<%= Overtwitch.Screenshot.original_image_path(@screenshot) %>"/>
