<%= for screenshot <- @screenshots do %>
  <h1><%= screenshot.id %>: <%= screenshot.tag %></h1>
  <img src="/<%= screenshot.path %>" />
  <img src="/media/preprocessed/<%= screenshot.checksum %>.jpg" />
  <hr/>
<% end %>
