<ul>
  <li>
    <%= link("Fetch new screenshots", to: home_path(@conn, :fetch), method: "post") %>
  </li>
  <li>
    <%= link("Start tagging", to: votes_path(@conn, :new)) %>
  </li>
  <li>
    <%= link("Export", to: votes_path(@conn, :export), method: "post") %>
  </li>
  <li>
    <%= link("Import", to: home_path(@conn, :import), method: "post") %>
  </li>
  <li>
    <%= link("Stats", to: stats_path(@conn, :index)) %>
  </li>
</ul>
